<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Customer Confirmation</title>
</head>
<body>
The customer is confirmed:
<span th:text="${(customer.firstName == null ? '' : customer.firstName) + ' ' + customer.lastName}"></span>
<br>
Free Passes: <span th:text="${customer.freePasses}"></span>
<br>
Postal Code: <span th:text="${customer.postalCode}"></span>
<br>
Course Code: <span th:text="${customer.courseCode}"></span>
</body>
</html>